#top .top_txl {
    font-size: 20rem;
    margin-top: 10rem;
    display: none;
}

#top .top_txl span {
    margin-left: 160rem;
}

#top .top_txl i {
    font-size: 24rem;
}

#top .top_txl i:nth-of-type(1) {
    margin-left: 90rem;
}

#top .top_txl i:nth-of-type(2) {
    margin-left: 8rem;
    font-size: 28rem;
}

#contain .c_txl {
    height: 100%;
    width: 100%;
    display: none;
}

#contain .c_txl ul li {
    width: 100%;
    height: 60rem;
    background-color: rgb(255, 255, 255);
}

#contain .c_txl ul li img {
    height: 40rem;
    width: 40rem;
    border-radius: 4rem;
    float: left;
    margin: 10rem;
}

#contain .c_txl ul li>div {
    float: left;
    border-bottom: 1rem solid rgb(224, 224, 224);
    width: 330rem;
    height: 60rem;
    font-size: 18rem;
    line-height: 50rem;
}

#contain .c_txl ul li div>p {
    margin-top: 5rem;
}